#settingsbutton {
    z-index: 11;
    position: fixed;
    bottom: 5px;
    left: 5px;
    cursor: pointer;

    svg {
        transition: background .2s;
        border-radius: 100px;
        padding: 5px;
        width: 20px !important;
        height: 20px !important;
        fill: rgba(255,255,255,.2) !important;
    }
    svg:hover {
        background: rgba(255,255,255,.1);
    }
}

#settingsui {
    z-index: 12;
    position: fixed;
    display: flex;
    left: 5px;
    bottom: 50px;
    background: rgba(255,255,255,.1);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgba(255,255,255,.1);

    h2 {
        font-family: 'Playfair Display';
        font-weight: normal;
    }
    br {
        height: 0px !important;
    }
    h4 {
        margin-top: 10px;
        font-family: 'Nunito';
        /* font-weight: normal; */
    }
}